# GitHub Actions runner (НЕ хранить в репозитории)
actions-runner/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Logs
*.log

# OS
.DS_Store

# VSCode
.vscode/

# Secrets
.env
